Repository exercism/common-lisp, pull requests merged in 2021-09, with the labels that each got.

#475 Minor fixes in Leslie's list's instructions and template solution
  exercises/concept/leslies-lists/.docs/instructions.md
  exercises/concept/leslies-lists/leslies-lists.lisp
Labels: x:action/improve, x:knowledge/none, x:module/concept-exercise, x:size/tiny

#507 Add missing quicklisp-install link.
  docs/INSTALLATION.md
Labels: x:action/proofread, x:type/docs, x:size/tiny

#505 Change instructions to be consistent with tests
  exercises/concept/character-study/.docs/instructions.md
Labels: x:action/proofread, x:module/concept-exercise, x:size/tiny
