Repository exercism/common-lisp, pull requests merged in 2021-11, with the labels that each got.

#534 🤖 Remove obsolete `maintainers.json` file
  .github/CODEOWNERS
  config/maintainers.json
Labels: x:size/tiny

#535 Fixes typo 'later' to 'latter'
  concepts/date-time/introduction.md
  exercises/concept/gigasecond-anniversary/.docs/introduction.md
Labels: x:action/proofread, x:knowledge/elementary, x:module/concept-exercise, x:size/tiny

#537 Create format-basics concept & concept exercise.
  concepts/format-basics/.meta/config.json
  concepts/format-basics/about.md
  concepts/format-basics/introduction.md
  concepts/format-basics/links.json
  config.json
  exercises/concept/reporting-for-duty/.docs/hints.md
  exercises/concept/reporting-for-duty/.docs/instructions.md
  exercises/concept/reporting-for-duty/.docs/introduction.md
  exercises/concept/reporting-for-duty/.docs/introduction.md.tpl
  exercises/concept/reporting-for-duty/.meta/config.json
  exercises/concept/reporting-for-duty/.meta/exemplar.lisp
  exercises/concept/reporting-for-duty/reporting-for-duty-test.lisp
  exercises/concept/reporting-for-duty/reporting-for-duty.lisp
Labels: x:action/create, x:knowledge/intermediate, x:module/concept, x:module/concept-exercise, x:type/content, x:size/large
