Repository exercism/common-lisp, pull requests merged in 2022-05, with the labels that each got.

#595 exercism.org
  exercises/shared/.docs/help.md
Labels: x:action/proofread, x:rep/tiny

#598 docs: Typo in expected input
  exercises/concept/log-levels/.docs/instructions.md
Labels: x:action/proofread, x:module/concept-exercise, x:type/content, x:size/tiny

#597 Adding Practice Exercise Generator
  README.md
  bin/custom_json_encoder.py
  bin/lisp_exercise_generator.py
Labels: x:action/create, x:knowledge/intermediate, x:module/generator, x:module/practice-exercise, x:size/large

#599 docs: Add expected function example to instructions
  exercises/concept/larrys-winning-checker/.docs/instructions.md
Labels: x:action/proofread, x:module/concept-exercise, x:type/content, x:size/tiny

#608 Fix return value error
  concepts/keyword-parameters/introduction.md
Labels: x:action/fix, x:action/proofread, x:module/concept-exercise, x:size/tiny

#614 Updated foregone exercises in config.json
  config.json
Labels: x:action/improve, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/tiny

#605 Increased most difficulty ratings in config.json
  config.json
Labels: x:action/improve, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#620 Create exercise matrix
  config.json
  exercises/practice/matrix/.docs/instructions.md
  exercises/practice/matrix/.meta/config.json
  exercises/practice/matrix/.meta/example.lisp
  exercises/practice/matrix/.meta/tests.toml
  exercises/practice/matrix/matrix-test.lisp
  exercises/practice/matrix/matrix.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#619 Create exercise saddle-points
  config.json
  exercises/practice/saddle-points/.docs/instructions.md
  exercises/practice/saddle-points/.meta/config.json
  exercises/practice/saddle-points/.meta/example.lisp
  exercises/practice/saddle-points/.meta/tests.toml
  exercises/practice/saddle-points/saddle-points-test.lisp
  exercises/practice/saddle-points/saddle-points.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#618 Create exercise protein-translation
  config.json
  exercises/practice/protein-translation/.docs/instructions.md
  exercises/practice/protein-translation/.meta/config.json
  exercises/practice/protein-translation/.meta/example.lisp
  exercises/practice/protein-translation/.meta/tests.toml
  exercises/practice/protein-translation/protein-translation-test.lisp
  exercises/practice/protein-translation/protein-translation.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#616 Create exercise pig-latin
  config.json
  exercises/practice/pig-latin/.docs/instructions.md
  exercises/practice/pig-latin/.meta/config.json
  exercises/practice/pig-latin/.meta/example.lisp
  exercises/practice/pig-latin/.meta/tests.toml
  exercises/practice/pig-latin/pig-latin-test.lisp
  exercises/practice/pig-latin/pig-latin.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#615 Create exercise rail-fence-cipher
  config.json
  exercises/practice/rail-fence-cipher/.docs/instructions.md
  exercises/practice/rail-fence-cipher/.meta/config.json
  exercises/practice/rail-fence-cipher/.meta/example.lisp
  exercises/practice/rail-fence-cipher/.meta/tests.toml
  exercises/practice/rail-fence-cipher/rail-fence-cipher-test.lisp
  exercises/practice/rail-fence-cipher/rail-fence-cipher.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#613 Create exercise knapsack
  config.json
  exercises/practice/knapsack/.docs/instructions.md
  exercises/practice/knapsack/.meta/config.json
  exercises/practice/knapsack/.meta/example.lisp
  exercises/practice/knapsack/.meta/tests.toml
  exercises/practice/knapsack/knapsack-test.lisp
  exercises/practice/knapsack/knapsack.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#611 Create exercise nth-prime
  config.json
  exercises/practice/nth-prime/.docs/instructions.md
  exercises/practice/nth-prime/.meta/config.json
  exercises/practice/nth-prime/.meta/example.lisp
  exercises/practice/nth-prime/.meta/tests.toml
  exercises/practice/nth-prime/nth-prime-test.lisp
  exercises/practice/nth-prime/nth-prime.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#610 Create exercise queen-attack
  config.json
  exercises/practice/queen-attack/.docs/instructions.md
  exercises/practice/queen-attack/.meta/config.json
  exercises/practice/queen-attack/.meta/example.lisp
  exercises/practice/queen-attack/.meta/tests.toml
  exercises/practice/queen-attack/queen-attack-test.lisp
  exercises/practice/queen-attack/queen-attack.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#603 Create exercise largest-series-product
  config.json
  exercises/practice/largest-series-product/.docs/instructions.md
  exercises/practice/largest-series-product/.meta/config.json
  exercises/practice/largest-series-product/.meta/example.lisp
  exercises/practice/largest-series-product/.meta/tests.toml
  exercises/practice/largest-series-product/largest-series-product-test.lisp
  exercises/practice/largest-series-product/largest-series-product.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#600 Create exercise run-length-encoding
  config.json
  exercises/practice/run-length-encoding/.docs/instructions.md
  exercises/practice/run-length-encoding/.meta/config.json
  exercises/practice/run-length-encoding/.meta/example.lisp
  exercises/practice/run-length-encoding/.meta/tests.toml
  exercises/practice/run-length-encoding/run-length-encoding-test.lisp
  exercises/practice/run-length-encoding/run-length-encoding.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#602 Create exercise matching-brackets
  config.json
  exercises/practice/matching-brackets/.docs/instructions.md
  exercises/practice/matching-brackets/.meta/config.json
  exercises/practice/matching-brackets/.meta/example.lisp
  exercises/practice/matching-brackets/.meta/tests.toml
  exercises/practice/matching-brackets/matching-brackets-test.lisp
  exercises/practice/matching-brackets/matching-brackets.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#607 Create exercise sum-of-multiples
  config.json
  exercises/practice/sum-of-multiples/.docs/instructions.md
  exercises/practice/sum-of-multiples/.meta/config.json
  exercises/practice/sum-of-multiples/.meta/example.lisp
  exercises/practice/sum-of-multiples/.meta/tests.toml
  exercises/practice/sum-of-multiples/sum-of-multiples-test.lisp
  exercises/practice/sum-of-multiples/sum-of-multiples.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#609 Create exercise isbn-verifier
  config.json
  exercises/practice/isbn-verifier/.docs/instructions.md
  exercises/practice/isbn-verifier/.meta/config.json
  exercises/practice/isbn-verifier/.meta/example.lisp
  exercises/practice/isbn-verifier/.meta/tests.toml
  exercises/practice/isbn-verifier/isbn-verifier-test.lisp
  exercises/practice/isbn-verifier/isbn-verifier.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#634 (Tiny) Generator bug fixes
  bin/lisp_exercise_generator.py
Labels: x:action/fix, x:module/generator, x:size/tiny

#631 Update foregone list
  config.json
Labels: x:action/improve, x:knowledge/elementary, x:module/practice-exercise, x:size/tiny

#623 [Lillys Lasagna Leftovers] Fixed typo
  exercises/concept/lillys-lasagna-leftovers/.docs/introduction.md
Labels: x:action/fix, x:module/practice-exercise, x:type/content, x:size/tiny

#628 Update isbn-verifier
  exercises/practice/isbn-verifier/.meta/tests.toml
  exercises/practice/isbn-verifier/isbn-verifier-test.lisp
Labels: x:action/sync, x:module/practice-exercise, x:type/content, x:size/small

#621 Create exercise spiral-matrix
  config.json
  exercises/practice/spiral-matrix/.docs/instructions.md
  exercises/practice/spiral-matrix/.meta/config.json
  exercises/practice/spiral-matrix/.meta/example.lisp
  exercises/practice/spiral-matrix/.meta/tests.toml
  exercises/practice/spiral-matrix/spiral-matrix-test.lisp
  exercises/practice/spiral-matrix/spiral-matrix.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#625 Create exercise diamond
  config.json
  exercises/practice/diamond/.docs/instructions.md
  exercises/practice/diamond/.meta/config.json
  exercises/practice/diamond/.meta/example.lisp
  exercises/practice/diamond/.meta/tests.toml
  exercises/practice/diamond/diamond-test.lisp
  exercises/practice/diamond/diamond.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#629 Create exercise rotational-cipher
  config.json
  exercises/practice/rotational-cipher/.docs/instructions.md
  exercises/practice/rotational-cipher/.meta/config.json
  exercises/practice/rotational-cipher/.meta/example.lisp
  exercises/practice/rotational-cipher/.meta/tests.toml
  exercises/practice/rotational-cipher/rotational-cipher-test.lisp
  exercises/practice/rotational-cipher/rotational-cipher.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#633 Create exercise secret-handshake
  config.json
  exercises/practice/secret-handshake/.docs/instructions.md
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/secret-handshake/.meta/example.lisp
  exercises/practice/secret-handshake/.meta/tests.toml
  exercises/practice/secret-handshake/secret-handshake-test.lisp
  exercises/practice/secret-handshake/secret-handshake.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#637 Create exercise food-chain
  config.json
  exercises/practice/food-chain/.docs/instructions.md
  exercises/practice/food-chain/.meta/config.json
  exercises/practice/food-chain/.meta/example.lisp
  exercises/practice/food-chain/.meta/tests.toml
  exercises/practice/food-chain/food-chain-test.lisp
  exercises/practice/food-chain/food-chain.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#617 Create exercise flatten-array
  config.json
  exercises/practice/flatten-array/.docs/instructions.md
  exercises/practice/flatten-array/.meta/config.json
  exercises/practice/flatten-array/.meta/example.lisp
  exercises/practice/flatten-array/.meta/tests.toml
  exercises/practice/flatten-array/flatten-array-test.lisp
  exercises/practice/flatten-array/flatten-array.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#627 Create exercise affine-cipher
  config.json
  exercises/practice/affine-cipher/.docs/instructions.md
  exercises/practice/affine-cipher/.meta/config.json
  exercises/practice/affine-cipher/.meta/example.lisp
  exercises/practice/affine-cipher/.meta/tests.toml
  exercises/practice/affine-cipher/affine-cipher-test.lisp
  exercises/practice/affine-cipher/affine-cipher.lisp
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium

#641 Remove assumptions about characters.
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/atbash-cipher/.meta/example.lisp
  exercises/practice/diamond/.meta/example.lisp
  exercises/practice/robot-name/.meta/example.lisp
  exercises/practice/robot-name/robot-name-test.lisp
Labels: x:action/improve, x:module/practice-exercise, x:size/small
